*{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(Images/pexels-felix-mittermeier-1146134.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    color: white;
}
nav{
    display: flex;
    background-color: rgba(33, 36, 35, 0.999);
    padding: 2% 6%;
    max-height: 20px;
    justify-content: space-between;
    align-items: center;
}
.links{
    flex-grow: 1;
    text-align: right;
}
.links ul li{
    display: inline-block;
    padding: 8px 12px;
    list-style: none;
    position: relative;
}
.links ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.links ul li::after{
    background: red;
    margin: auto;
    width: 0%;
    height: 2px;
    display: block;
    content: '';
    transition: 0.3s;
}
.links ul li:hover::after{
    width: 100%;
}
.welcome{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-image: url(Images/matt-gross-uPa8mFbySYw-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 150px;
}
.welcome h1{
    font-size: 50px;
}
.welcome p{
    font-size: 25px;
}
.funfact{
    background-color: white;
    margin: auto;
    width: 80%;
    padding-top: 50px;
}
.flex-container{
    list-style: none;
    display: flex;
    align-content: space-around;
    background-color: darkslategrey;
    flex-wrap: wrap;
}
.button{
    background-color: aliceblue;
    margin: 20px;
    border: none;
    padding: 80px 70px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }